/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
/* -----new.css--- */

/* ----- */

.review-card {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  overflow: hidden;
}

.review-page {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.exc {
  color: gray;
}
.Moon {
  border-radous: 20px;
  font-size: 15px;

  color: blue;
  padding: 2px 4px;
  background-color: white;
  border-radius: 18px;
}
.gool {
  fontsize: 48px;
  fontweight: bold;
  fontfamily: Arial, sans-serif;
}
.Hero {
  color: red;
  background-color: black;
  border: 6px solid red;
  width: 200px;
  margin-left: 0px;
}
.Zen {
  color: black;
  background: white;
}

/* Left Section */
.left-section {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: left;
  border-right: 2px solid #ddd;
}

.left-section h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.rating p {
  margin: 5px 0;
  font-size: 18px;
}

.google-review {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.review-button {
  background-color: #4285f4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.review-button:hover {
  background-color: #3367d6;
}

.qr-code {
  margin-top: -140px;
  text-align: right;
}

.qr-code h3 {
  margin-bottom: 10px;
}

/* Right Section */
.right-section {
  flex: 2;
  min-width: 300px;
  padding: 20px;
}

.review-cards {
  display: flex;
  align-items: center;
}

.cards-container {
  width: 60%;

  display: flex;
  justify-content: space-around;
  flex: 1;
}

.card {
  width: 200px;
  heigh: 50px;
  overflow: hidden;
  background: #f0f0f0;
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.arrow-button {
  background: none;
  /* border: none; */
  font-size: 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.arrow-button:hover {
  /* color: #4285f4; */
  backgound-color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
  .review-page {
    flex-direction: column;
  }

  .left-section {
    border-right: none;
    border-bottom: 2px solid #ddd;
  }

  .card {
    width: 80%;
  }
}
